@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$amber-palette, 500);
$accent: mat.define-palette(mat.$blue-gray-palette, 900);
$primary-hover: mat.define-palette(mat.$amber-palette, 900);
$warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
  typography: mat.define-typography-config(

  )
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  )
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($light-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($light-theme);

@include mat.all-component-themes($light-theme);
