@use 'sass:map';
@use '@angular/material' as mat;

.rounded-container {
  border-radius: 5px;
}

table {
  background-color: transparent;
  width: 100%;
}

th {
  text-align: left;
}

.mat-row:hover {
  cursor: pointer;
}

