@import "~src/assets/scss/variables";
@import "~@angular/material/theming";

main {
  padding: 20px;
  display: flex;

  section[title="table"] {
    display: grid;
    place-items: start;
    grid-template-columns: 1fr;

    padding: 15px;
    background-color: white;

    table {
      width: 100%;
      background-color: transparent;

      th {
        text-align: left;
      }
    }
  }

  aside[title="sliders"] {
    padding: 15px;
    margin-left: 20px;
    background-color: white;
  }
}

.active {
  background-color: mat-color($primary-hover, 300);
}

.mat-row:hover {
  cursor: pointer;
}
