<div class="row p-2">
  <div class="col-12">
    <h2>Edit</h2>
  </div>
  <div class="col-12">
    <form >
      <mat-form-field class="example-full-width" class="w-100 pt-2">
        <mat-label>URL</mat-label>
        <input matInput value="">
      </mat-form-field>
      <mat-form-field class="example-full-width "  class="w-100 pt-2">
        <mat-label>Name</mat-label>
        <input matInput  value="" class="w-100">
      </mat-form-field>
      <mat-form-field class="example-full-width" class="w-100 pt-2">
        <mat-label>Address</mat-label>
        <input matInput value="">
      </mat-form-field>
      <mat-form-field class="example-full-width" class="w-100 pt-2">
        <mat-label>Cost per month</mat-label>
        <input matInput value="">
      </mat-form-field>
      <mat-form-field class="example-full-width" class="w-100 pt-2">
        <mat-label>Deposit</mat-label>
        <input matInput value="">
      </mat-form-field>
      <mat-form-field class="example-full-width" class="w-100 pt-2">
        <mat-label>Mq.</mat-label>
        <input matInput value="">
      </mat-form-field>
    </form>
  </div>
  <div class="col-12 d-flex justify-content-end">
    <button mat-raised-button color="primary" style="margin-right: 1rem;">Save</button>
    <button mat-raised-button color="accent" (click)="close()">Close</button>
  </div>
</div>
