<section name="edit-section">

  <header>
    <h2>Edit</h2>
  </header>

  <form [formGroup]="editForm">

    <!-- URL -->
    <fieldset name="url">
      <mat-form-field>
        <mat-label>URL</mat-label>
        <input matInput formControlName="url" id="url">
        <mat-icon matSuffix>link</mat-icon>
      </mat-form-field>

      <button
        mat-raised-button
        type="button"
        (click)="download()"
        color="primary"
        [disabled]="!editForm.get('url')?.valid"
        class="download-button">
          Download
      </button>
    </fieldset>

    <!-- NAME -->
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput  formControlName="name" id="name">
      <mat-icon matSuffix>home</mat-icon>
    </mat-form-field>

    <!-- ADDRESS -->
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" id="address">
      <mat-icon matSuffix>pin_drop</mat-icon>
    </mat-form-field>

    <!-- COSTPERMONTH -->
    <mat-form-field>
      <mat-label>Cost per month</mat-label>
      <mat-icon matSuffix>euro</mat-icon>
      <input type="number" matInput formControlName="costPerMonth" id="costPerMonth">
    </mat-form-field>

    <!-- DEPOSIT -->
    <mat-form-field>
      <mat-label>Deposit</mat-label>
      <mat-icon matSuffix>payments</mat-icon>
      <input type="number" matInput formControlName="deposit" id="deposit">
    </mat-form-field>

    <!-- URL -->
    <mat-form-field>
      <mat-label>Mq.</mat-label>
      <input type="number" matInput formControlName="mq" id="mq">
      <mat-icon matSuffix>straighten</mat-icon>
    </mat-form-field>

    <!-- actions -->
    <fieldset name="actions">
      <button
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="!editForm.valid">
        Save
      </button>

      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="close()">
        Close
      </button>
    </fieldset>

  </form>

</section>
